<section class="product-box">
    <h2><%- titleCarousel -%></h2>
    <!-- CAROUSEL PRODUCT LINE -->
    <section class="container-products-carousel <%= typeof titleCarouselClass != 'undefined' ? titleCarouselClass:''%>" id="0">
        <button class="left-btn left-btn-prod"><img src="./images/navigate_before.svg"></button>
        <button class="right-btn right-btn-prod"><img src="./images/navigate_next.svg"></button>
        <div id="carousel" class="prod">
            <div id="products-line" class="<%- classCarousel -%>">
                <!-- PRODUCT LIST -->
                <%- include('../products/003') ;%>
                
                <%- include('../products/002') ;%>
                
                <%- include('../products/008') ;%>

                <%- include('../products/001') ;%>
                
                <%- include('../products/004') ;%>
                
                <%- include('../products/006') ;%>
                
                <%- include('../products/005') ;%>
                
                <%- include('../products/007') ;%>
            </div>
        </div>
    </section>
</section>