<!DOCTYPE html>

<!-- HEAD -->
<%- include('../partials/head', {title: 'Clone Plataforma'}); %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header'); %>

       <!-- MAIN -->
       <main>
        <%- include('../partials/errorMessageEmptyInput');%>
        
        <div class="register-top-button w-full px-4 mt-9 lg:w-1/2 lg:mx-auto">
            <a href="/login" class="hover:no-underline">
                <button class="py-2 px-3 self-start mb-4 bg-neutral-100 hover:bg-neutral-200 text-xs lg:text-sm font-bold rounded-md flex items-center gap-1">
                    <img src="./images/arrow-back.svg" class="w-5 h-5">
                    Voltar
                </button>
            </a>
        </div>

        <form action="" class="register-form flex flex-col gap-2 px-4 mt-6 lg:w-1/2 mx-auto">
            <h1 class="text-center text-xl pb-2">CRIAR CONTA</h1>
            <div class="register-form-radio flex gap-2 lg:my-4">
                <input type="radio" name="register-form-radio-type" id="register-form-radio-physical-person" checked>
                <label for="register-form-radio-physical-person" class="pr-2">Pessoa Física</label>
                <input type="radio" name="register-form-radio-type" id="register-form-radio-legal-person">
                <label for="register-form-radio-legal-person">Pessoa Jurídica</label>            
            </div>

            <div class="register-form-personal-data pb-9 border-b border-neutral-300 border-dashed lg:grid lg:grid-cols-2 lg:gap-4">
                <div class="form-col">
                    <label for="physicalPerson">Nome Completo</label>
                    <input type="text" name="register-form-personal-name" id="register-form-personal-name-full-name" class="form-col-input" autofocus>
                </div>
                <div class="form-col">
                    <label for="register-form-personal-email">Email</label>
                    <input type="email" name="register-form-personal-email" id="register-form-personal-email" class="form-col-input">
                </div>
                <div class="form-col">
                    <label for="register-form-personal-cpf">CPF</label>
                    <input type="text" name="register-form-personal-cpf" id="register-form-personal-cpf" class="form-col-input" placeholder="000.000.000-00">
                </div>
                <div class="form-col">
                    <label for="register-form-personal-cell">Celular</label>
                    <input type="text" name="register-form-personal-cell" id="register-form-personal-cell" class="form-col-input">
                </div>
                <!-- <div class="form-col">
                    <label for="register-form-personal-other-phone">Outro Telefone</label>
                    <input type="text" name="register-form-personal-other-phone" id="register-form-personal-other-phone" class="form-col-input">
                </div> -->
                <div class="form-col">
                    <label for="register-form-personal-birth-date">Nascimento</label>
                    <input type="text" name="register-form-personal-birth-date" id="register-form-personal-birth-date"  class="form-col-input" placeholder="dd/mm/aaaa">
                    <div class="pt-1">
                        <input type="checkbox" name="register-form-personal-no-birth-date" id="register-form-personal-no-birth-date">
                        <label for="register-form-personal-no-birth-date">Não quero informar</label>
                    </div>
                </div>          
                <!-- <div class="form-col">
                    <label for="register-form-personal-genre">Gênero</label>
                    <select name="register-form-personal-genre" id="register-form-personal-genre" class="form-col-input w-min">
                        <option value="not">Não quero informar</option>
                        <option value="masculine">Masculino</option>
                        <option value="feminine">Feminino</option>
                    </select>
                </div> -->
            </div>

            <div class="register-form-personal-password pb-9 border-b border-neutral-300 border-dashed">
                <div class="form-col">
                    <label for="register-form-passord">Senha</label>
                    <input type="password" name="register-form-passord" id="register-form-passord" class="form-col-input">
                </div>
                <div class="form-col">
                    <label for="register-form-passord-confirm">Confirmar Senha</label>
                    <input type="password" name="register-form-passord-confirm" id="register-form-passord-confirm" class="form-col-input">
                </div>
            </div>

            <!-- <div class="register-form-personal-address pb-9 border-b border-neutral-300 border-dashed lg:grid lg:grid-cols-2 lg:gap-4">
                <div class="form-col">
                    <label for="register-form-cep">CEP <span class=" text-xs text-neutral-400">Não sabe seu CEP? <a class="underline">clique aqui</a></span></label>
                    <input type="text" name="register-form-cep" id="register-form-cep" class="form-col-input">
                </div>
                <div>
                </div>
                <div class="form-col">
                    <label for="register-form-address">Endereço</label>
                    <input type="text" name="register-form-address" id="register-form-address" class="form-col-input">
                </div>
                <div class="form-col">
                    <label for="register-form-address-number">Número <span class="text-xs text-neutral-400"> use 0 para sem número</span></label>
                    <input type="text" name="register-form-address-number" id="register-form-address-number" class="form-col-input">
                </div>
                <div class="form-col">
                    <label for="register-form-address-complement">Complemento <span class="text-xs text-neutral-400"> opcional</span></label>
                    <input type="text" name="register-form-address-complement" id="register-form-address-complement" class="form-col-input">
                </div>
                <div class="form-col">
                    <label for="register-form-address-district">Bairro</label>
                    <input type="text" name="register-form-address-district" id="register-form-address-district" class="form-col-input">
                </div>
                <div class="form-col">
                    <label for="register-form-address-city">Cidade</label>
                    <input type="text" name="register-form-address-city" id="register-form-address-city" class="form-col-input">
                </div>
                <div class="form-col">
                    <label for="register-form-address-state">Estado</label>
                    <select name="register-form-address-state" id="register-form-address-state" class="form-col-input w-min">
                        <option value="select">Escolha o estado</option>
                        <option value="acre">Acre</option>
                        <option value="alagoas">Alagoas</option>
                        <option value="amapa">Amapá</option>
                        <option value="amazonas">Amazonas</option>
                        <option value="bahia">Bahia</option>
                        <option value="ceará">Ceará</option>
                        <option value="espirito-santo">Espírito Santo</option>
                        <option value="goias">Goiás</option>
                        <option value="maranhao">Maranhão</option>
                        <option value="mato-grosso">Mato Grosso</option>
                        <option value="mato-grosso-do-sul">Mato Grosso do Sul</option>
                        <option value="minas-gerais">Minas Gerais</option>
                        <option value="para">Pará</option>
                        <option value="paraiba">Paraíba</option>
                        <option value="parana">Paraná</option>
                        <option value="pernambuco">Pernambuco</option>
                        <option value="piaui">Piauí</option>
                        <option value="rio-de-janeiro">Rio de Janeiro</option>
                        <option value="rio-grande-do-Norte">Rio Grande do Norte</option>
                        <option value="">Rio Grande do Sul</option>
                        <option value="rondonia">Rondônia</option>
                        <option value="roraima">Roraima</option>
                        <option value="santa-catarina">Santa Catarina</option>
                        <option value="sao-paulo">São Paulo</option>
                        <option value="sergipe">Sergipe</option>
                        <option value="tocantis">Tocantins</option>
                        <option value="distrito-federal">Distrito Federal</option>
                    </select>
                </div>
            </div> -->

            <!-- <div class="register-form-personal-address-favorite pb-9 border-b border-neutral-300 border-dashed">
                <div class="form-col">
                    <label for="register-form-address-favorite">Favoritar como</label>
                    <select name="register-form-address-favorite" id="register-form-address-favorite" class="form-col-input w-min">
                        <option value="home">Casa</option>
                        <option value="work">Trabalho</option>
                        <option value="other">Outro</option>
                    </select>
                </div>

                <div class="form-col">
                    <label for="register-form-address-full-name">Nome e Sobrenome</label>
                    <input type="text" name="register-form-address-full-name" id="register-form-address-full-name" class="form-col-input">
                </div>
            </div> -->

            <div class="register-form-notifications">
                <div class="flex flex-col gap-3">
                    <h3 class="font-bold text-base">Notificações</h3>
                    <div class="form-col py-2 flex flex-row gap-2">
                        <input type="checkbox" name="register-form-notifications-sms" id="register-form-personal-notifications-sms">
                        <label for="register-form-personal-notifications-sms">Desejo receber alertas por SMS</label>
                    </div>
                    <div class="form-col py-2 flex flex-row gap-2">
                        <input type="checkbox" name="register-form-notifications-status" id="register-form-personal-notifications-status">
                        <label for="register-form-personal-notifications-status">Desejo receber e-mails sobre meus pedidos (aprovação, envio, código de rastreio)</label>
                    </div>
                    <div class="form-col py-2 flex flex-row gap-2">
                        <input type="checkbox" name="register-form-notifications-promotions" id="register-form-personal-notifications-promotions">
                        <label for="register-form-personal-notifications-promotions">Desejo receber e-mails com promoções</label>
                    </div>

                    <button class="register-button bg-black text-white text-sm py-2.5 mt-8 w-full border-1 border-black rounded-md">Gravar</button>
                </div> 
            </div>
        </form>
       </main>

       <!-- FOOTER -->
       <%- include('../partials/footer'); %>

       <!-- SCRIPTS -->
       <%- include('../partials/scripts'); %>
 </body>

</html>