<!DOCTYPE html>

<!-- HEAD -->
<%- include('../partials/head', {title: 'Meu Carrinho'}); %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header'); %>

       <!-- MAIN -->
       <main>           
            <section class="w-full h-full px-2.5 lg:mt-8">              
                <%- include('../partials/products/cart-product',{
                    totalCookies: cookiesLength,
                    cookiesCarts: carts,
                });%>            
            </section>

            <section class="border-t border-gray-200 mx-2.5 lg:w-9/12 lg:mx-auto"></section>

            <section class="mb-8 lg:w-4/5 lg:mx-auto">
                <!-- PRODUCT LINE -->
                <%- include('../partials/prodCarousel/product-carousel-1', {
                    titleCarousel: "VISUALIZADOS RECENTEMENTE",
                }); %>
            </section>
       </main>
       <!-- SCRIPTS -->
       <%- include('../partials/scripts'); %>
 </body>

</html>