<!DOCTYPE html>

<!-- HEAD -->
<%- include('../partials/head', {title: 'Meu Carrinho'}); %>


<body>
    <!-- HEADER -->
    <%- include('../partials/header'); %>

       <!-- MAIN -->
       <main>         
            <section class="empty-cart flex flex-col items-center justify-center gap-6 my-6 lg:mt-8">
                <h1 class="text-sm lg:text-lg lg:font-bold">CARRINHO VAZIO</h1>
                <a href="/" ><button class="bg-gradient-to-b from-black to-black/80 text-white text-sm py-2 px-14 lg:px-6 w-max rounded-sm">Continuar comprando</button></a>
            </section>  
            <section class="allProductsCart w-full h-full px-2.5 lg:mt-8">              
                <%- include('../partials/products/cart-product',{
                    totalCookies: cookiesLength,
                    cookiesCarts: carts,
                });%>          
            </section>

            <section class="border-t border-gray-200 mx-2.5 lg:w-9/12 lg:mx-auto"></section>

            <section class="mb-8 lg:w-4/5 lg:mx-auto">

            </section>

            <!-- PRODUCT LINE -->
            <%- include('../partials/prodCarousel/product-carousel-1', {
                titleCarousel: "VISUALIZADOS RECENTEMENTE",
            }); %>

            <!-- MODAL -->
            <%- include('../partials/modal'); %>
       </main>
       
       <!-- SCRIPTS -->
       <%- include('../partials/scripts'); %>
 </body>

</html>