<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head', {title: 'Sale'}); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../partials/header') ;%>

         <!--MAIN -->
         <main>
            <%- include('../partials/current-page', {pagina: 'Contato', paginaLink: 'contato'}); %>
            
            <h2 class="page-title general-margin-padding">CONTATO</h2>

    
         </main>

         <!-- FOOTER EJS-->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>