<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head', {title: 'Sale'}); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../partials/header') ;%>

         <!--MAIN -->
         <main>
            <%- include('../partials/current-page', {
               page: '<a href="/duvidas">Dúvidas</a>', 
            }); %>

            <h2 class="page-title general-margin-padding">DÚVIDAS</h2>

            <section class="mx-20">   
               <h3 class="font-semibold py-4">Qual é o prazo para realizar uma troca/devolução? </h3>

               <p class="pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur adipisci vel inventore maxime pariatur dolore, aliquam suscipit quidem quas? Consectetur aperiam suscipit placeat temporibus fuga deserunt. Voluptates laudantium commodi exercitationem?</p>
               
               <h3 class="font-semibold py-4">Como troco/devolvo um produto? </h3>
               
               <p class="pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magni quasi velit ut quo placeat nesciunt cum mollitia culpa dolorem ex voluptatibus eveniet voluptates excepturi quisquam, aliquid sed. Amet, molestias?</p>
               
               <p class="pb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae alias repellendus vero vitae fugit ad soluta reiciendis tempore autem exercitationem ullam consequatur, doloribus rerum. Veniam, sint reiciendis. Error, deleniti alias?</p>
               
               <p class="pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem possimus molestiae earum officia reiciendis, neque eveniet repellendus enim at vel facilis aut saepe placeat laborum beatae modi quidem tenetur corrupti.</p>
               
               <p class="pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolore, quia labore in similique nostrum quaerat aliquam sapiente molestias iste maiores aspernatur quod. Vitae sunt, repudiandae accusamus dolore quod officiis?</p>
                            
               <h3 class="font-semibold py-4">Eu pago o frete da troca/devolução?</h3>
               
               <p class="pb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius similique nihil voluptatibus officia iusto sint nisi nemo impedit asperiores reprehenderit architecto odit ullam accusamus, dicta eum debitis animi aliquam vel.</p>
               
               <h3 class="font-semibold py-4">A troca/devolução pode não ser aceita?</h3>
               
               <p class="pb-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae iusto omnis sapiente maiores dicta quod perspiciatis cumque, culpa maxime in suscipit, alias provident ad nisi eum expedita dolores dolor exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsam veritatis ducimus laudantium quaerat ab iusto perspiciatis maxime, at ipsa eum corporis nemo, odit ex, quos cumque itaque fugiat autem?</p>
               
               <h3 class="font-semibold py-4">Como acontece o estorno em caso de devolução?</h3>
               
               <p class="pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptate harum soluta corrupti amet provident quas ducimus. Maxime nisi quas illum laborum porro assumenda nulla, iure, quaerat, nobis molestias ad? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quis nesciunt repellat, neque suscipit, illo mollitia recusandae dolore modi eveniet consequatur eius corporis ipsam magnam facilis culpa, est impedit nam.</p>
               
               </section>

    
         </main>

         <!-- FOOTER EJS-->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>