<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD -->
<%- include('../partials/head', {title: 'Clone Plataforma'}); %>

   <body>
      <!-- HEADER -->
      <%- include('../partials/header'); %>

         <!-- MAIN -->
         <main>
            <!-- MAIN BANNER -->
            <%- include('../partials/carousel-banner', {classCarouselBanner: 'index-banner-carousel-1'}) ;%>

            <!-- SHIPPING BANNER -->
            <section class="shipping-banner general-margin-padding">
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/truck-fast-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>FRETE GRÁTIS</h2>
                     <h3>A partir de R$ 399,00</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/credit-card-check-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>PARCELAMENTO</h2>
                     <h3>Em até 6x Sem Juros</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/lock-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>COMPRA SEGURA</h2>
                     <h3>Certificado de Segurança SSL</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/barcode-scan.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>BOLETO</h2>
                     <h3>5% de Desconto</h3>
                  </div>
               </div>

            </section>

            <!-- SECONDARY BANNER -->
            <section class="secondary-banners general-margin-padding">
               <%- include('../partials/secondary-banners/banner-001') -%>
               <%- include('../partials/secondary-banners/banner-002') -%>
               <%- include('../partials/secondary-banners/banner-003') -%>
            </section>

            <!-- PRODUCT LINE -->
            <%- include('../partials/prodCarousel/product-carousel-1', {
                titleCarousel: "MAIS VENDIDOS",
            }); %>

            <!-- MODAL -->
            <%- include('../partials/modal'); %>
         </main>

         <!-- FOOTER -->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>