<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head'); %>

   <body>
      <!-- HEADER EJS -->
      <%- include('../partials/header'); %>

         <!-- MAIN -->
         <main>
            <!-- MAIN BANNER -->
            <section id="container" class="containerMainBanner">
               <button class="left-btn btnLeft-m-banner"><img src="./images/arrow-left.png"></button>
               <button class="right-btn btnRight-m-banner"><img src="./images/arrow-right.png"></button>
               <div id="carousel">
                  <div id="main-banner">
                     <a href="/categories"><img src="./images/banner1.jpg" class="item"></a>
                     <a href="/categories"><img src="./images/banner2.jpg" class="item"></a>
                     <!-- <a href="/categories"><img src="./images/banner3.jpg" class="item"></a> -->
                     <!-- <a href="/categories"><img src="./images/banner4.jpg" class="item"></a> -->
                     <!-- <a href="/categories"><img src="./images/banner5.jpg" class="item"></a> -->
                     <!-- <a href="/categories"><img src="./images/banner6.jpg" class="item"></a> -->
                     <a href="/categories"><img src="./images/banner7.jpg" class="item"></a>
                  </div>
               </div>
            </section>

            <!-- SHIPPING BANNER -->
            <section class="shipping-banner general-margin-padding">
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/truck-fast-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>FRETE GRÁTIS</h2>
                     <h3>A partir de R$ 399,00</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/credit-card-check-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>PARCELAMENTO</h2>
                     <h3>Em até 6x Sem Juros</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/lock-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>COMPRA SEGURA</h2>
                     <h3>Certificado de Segurança SSL</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/barcode-scan.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>BOLETO</h2>
                     <h3>5% de Desconto</h3>
                  </div>
               </div>

            </section>

            <!-- PRODUCT CAROUSEL  -->
            <section class="product-box">
               <h2>LANÇAMENTOS</h2>
               <!-- CAROUSEL PRODUCT LINE -->
               <section class="container-products-carousel">
                  <button class="left-btn left-btn-prod"><img src="./images/navigate_before.svg"></button>
                  <button class="right-btn right-btn-prod"><img src="./images/navigate_next.svg"></button>
                  <div id="carousel" class="prod">
                     <div id="products-line" class="carousel1">
                        <!-- PRODUCT LIST -->
                        <div class="product prod-carousel" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 100,20</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 100,20</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                     </div>
                  </div>
               </section>
            </section>

            <!-- PRODUCT CAROUSEL TEST -->
            <section class="product-box">
               <h2>LANÇAMENTOS</h2>
               <!-- CAROUSEL PRODUCT LINE -->
               <section class="container-products-carousel">
                  <button class="left-btn left-btn-prod"><img src="./images/navigate_before.svg"></button>
                  <button class="right-btn right-btn-prod"><img src="./images/navigate_next.svg"></button>
                  <div id="carousel" class="prod">
                     <div id="products-line" class="carousel2">
                        <!-- PRODUCT LIST -->
                        <div class="product prod-carousel" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 100,20</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 100,20</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento.">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                        <div class="product prod-carousel" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!">
                           <section class="product-source" style="display: none">
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                              <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                           </section>
                           <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                           <h3>Camiseta Básica de Algodão</h3>
                           <h4>R$ 107,90</h4>
                        </div>
                     </div>
                  </div>
               </section>
            </section>

            <!-- SECONDARY BANNER -->
            <section class="secondary-banners general-margin-padding">
               <div class="secondary-banner-col">
                  <a href="/categories"><img src="./images/pexels-arayik-manukyan-9629406.jpg" alt="Banner"></a>
               </div>
               <div class="secondary-banner-col">
                  <a href="/categories"><img src="./images/pexels-av-raw-12479472.jpg" alt="Banner" class="zoom"></a>
               </div>
               <div class="secondary-banner-col">
                  <a href="/categories"><img src="./images/pexels-kenan-almokdad-5366614.jpg" alt="Banner"></a>
               </div>
            </section>

            <!-- PRODUCT LIST -->
            <section class="product-box general-margin-padding">
               <h2>MAIS VENDIDOS</h2>
               <div class="product-list">
                  <div class="product" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                     <section class="product-source" style="display: none">
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                        <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                        <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                     </section>
                     <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                     <h3>Camiseta Básica de Algodão</h3>
                     <h4>R$ 100,20</h4>
                  </div>
                  <div class="product" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                     <section class="product-source" style="display: none">
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                     </section>
                     <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                     <h3>Camiseta Básica de Algodão</h3>
                     <h4>R$ 107,90</h4>
                  </div>
                  <div class="product" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                     <section class="product-source" style="display: none">
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                     </section>
                     <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                     <h3>Camiseta Básica de Algodão</h3>
                     <h4>R$ 107,90</h4>
                  </div>
                  <div class="product" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!" data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                     <section class="product-source" style="display: none">
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                        <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                     </section>
                     <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                     <h3>Camiseta Básica de Algodão</h3>
                     <h4>R$ 107,90</h4>
                  </div>
               </div>
            </section>

            <!-- MODAL EJS -->
            <%- include('../partials/modal'); %>
         </main>

         <!-- FOOTER EJS -->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>