<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD -->
<%- include('../partials/head'); %>

   <body>
      <!-- HEADER -->
      <%- include('../partials/header'); %>

         <!-- MAIN -->
         <main>
            <!-- MAIN BANNER -->
            <section id="container" class="containerMainBanner">
               <button class="left-btn btnLeft-m-banner"><img src="./images/arrow-left.png"></button>
               <button class="right-btn btnRight-m-banner"><img src="./images/arrow-right.png"></button>
               <div id="carousel">
                  <div id="main-banner" class="index-banner-carousel-1">
                     <a href="/categories"><img src="./images/banner1.jpg" class="item"></a>
                     <a href="/categories"><img src="./images/banner2.jpg" class="item"></a>
                     <!-- <a href="/categories"><img src="./images/banner3.jpg" class="item"></a> -->
                     <!-- <a href="/categories"><img src="./images/banner4.jpg" class="item"></a> -->
                     <!-- <a href="/categories"><img src="./images/banner5.jpg" class="item"></a> -->
                     <!-- <a href="/categories"><img src="./images/banner6.jpg" class="item"></a> -->
                     <a href="/categories"><img src="./images/banner7.jpg" class="item"></a>
                  </div>
               </div>
            </section>

            <!-- SHIPPING BANNER -->
            <section class="shipping-banner general-margin-padding">
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/truck-fast-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>FRETE GRÁTIS</h2>
                     <h3>A partir de R$ 399,00</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/credit-card-check-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>PARCELAMENTO</h2>
                     <h3>Em até 6x Sem Juros</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/lock-outline.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>COMPRA SEGURA</h2>
                     <h3>Certificado de Segurança SSL</h3>
                  </div>
               </div>
               <div class="shipping-box">
                  <div class="shipping-box-col-img">
                     <img src="./images/barcode-scan.svg" alt="Frete Grátis">
                  </div>
                  <div class="shipping-box-col-text">
                     <h2>BOLETO</h2>
                     <h3>5% de Desconto</h3>
                  </div>
               </div>

            </section>

            <!-- PRODUCT CAROUSEL --->
            <%- include('../partials/carousel-product', {classCarousel: 'index-prod-carousel-1', titleCarousel: 'LANÇAMENTOS'}); %>

            <!-- SECONDARY BANNER -->
            <section class="secondary-banners general-margin-padding">
               <div class="secondary-banner-col">
                  <a href="/categories"><img src="./images/pexels-arayik-manukyan-9629406.jpg" alt="Banner"></a>
               </div>
               <div class="secondary-banner-col">
                  <a href="/categories"><img src="./images/pexels-av-raw-12479472.jpg" alt="Banner" class="zoom"></a>
               </div>
               <div class="secondary-banner-col">
                  <a href="/categories"><img src="./images/pexels-kenan-almokdad-5366614.jpg" alt="Banner"></a>
               </div>
            </section>

            <!-- PRODUCT CAROUSEL-->
            <%- include('../partials/carousel-product', {classCarousel: 'index-prod-carousel-2', titleCarousel: 'MAIS VENDIDOS'}); %>

            <!-- MODAL -->
            <%- include('../partials/modal'); %>
         </main>

         <!-- FOOTER -->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>