<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head', {title: 'Lançamentos'}); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../partials/header') ;%>

         <!--MAIN -->
         <main>
            <%- include('../partials/current-page', {
               page: '<a href="/lancamentos">Lançamentos</a>', 
            }); %>

            <h2 class="page-title general-margin-padding">LANÇAMENTOS</h2>

            <!-- PRODUCT LIST -->
            <section class="product-list grid grid-cols-2 gap-3 px-2 lg:grid-cols-4 lg:mx-20 lg:px-0">
               <%- include('../partials/product', { 
                  product: {
                     code: 001, reference: "RSD0001", name: "Camiseta Básica New York", price: 299.90, 
                     description: "Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples.", 
                     mainImage: "../images/products/13.jpg",
                     variations: { 
                        firstVariation: {
                           colors: [
                              {
                                 color: "Branco", 
                                 images: [
                                    "../images/products/13.jpg" ,
                                    "../images/products/14.jpg"
                                 ], 
                                 secondVariation: [ "P", "M", "G" ]
                              },
                              {
                                 color: "Preto", 
                                 images: [
                                    "../images/products/15.jpg"
                                 ], 
                                 secondVariation: [ "XG" ]
                              }
                           ],
                        }
                     }
                  }
               }) ;%>
            </section>


            <!-- MODAL EJS -->
            <%- include('../partials/modal'); %>
         </main>

         <!-- FOOTER EJS-->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>