<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head'); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../partials/header') ;%>

         <!--MAIN -->
         <main>
            <%- include('../partials/current-page', {pagina: 'Lançamentos'}); %>

            <!-- CATEGORIE BANNER -->
            <section class="categories-banner general-margin-padding">
               <!-- <img src="./images/banner-categorie-cart.jpg" alt="Banner Principal"> -->
            </section>

            <!-- PRODUCT LIST -->
            <div class="product-list general-margin-padding">
               <div class="product" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 100,20</h4>
               </div>
               <div class="product" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
               <div class="product" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
               <div class="product" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!" data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
            </div>

            <div class="product-list general-margin-padding">
               <div class="product" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 100,20</h4>
               </div>
               <div class="product" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
               <div class="product" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
               <div class="product" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!" data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
            </div>

            <div class="product-list general-margin-padding">
               <div class="product" data-prodName="Camiseta Básica" data-prodPrice="100.20" data-prodDesc="Camiseta básica masculina, confeccionada em algodão. Possui decote redondo, manga curta e  barra simples." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-shishir-shuvo-12650794.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-marcus-silva-10353621.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 100,20</h4>
               </div>
               <div class="product" data-prodName="Camiseta Básica de Algodão" data-prodPrice="107.99" data-prodDesc="Versatilidade e estilo define essa camiseta. Produzida em algodão, ela proporciona maior conforto e suavidade no uso, dando uma sensação refrescante. Seu uso combina com qualquer outra peça de roupa, te proporcionando mais segurança." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
               <div class="product" data-prodName="Camiseta Básica White" data-prodPrice="10.80" data-prodDesc="Muito fresca e confortável, tem corte reto que dá a sensação de alongar o corpo, além evitar marcas de dobras e deixa seu corpo livre para o movimento." data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
               <div class="product" data-prodName="Camiseta White Básica" data-prodPrice="99.80" data-prodDesc="Camiseta Branca, Casual e Elegante, ideal para uso no dia-a-dia! Conforto e Praticidade! Tipo de peça indispensável no seu guarda-roupas, combina com tudo. Social, casual, básico formal e informal!" data-img1="./images/pexels-monstera-6311251.jpg" data-img2="./images/pexels-monstera-6311141.jpg">
                  <section class="product-source" style="display: none">
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311251.jpg"></div>
                     <div class="product-source-img" data-img="./images/pexels-monstera-6311141.jpg"></div>
                  </section>
                  <div class="img-product"><img src="./images/pexels-monstera-6311251.jpg" alt="Produto"></div>
                  <h3>Camiseta Básica de Algodão</h3>
                  <h4>R$ 107,90</h4>
               </div>
            </div>

            <!-- MODAL EJS -->
            <%- include('../partials/modal'); %>
         </main>

         <!-- FOOTER EJS-->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>