<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head', {title: 'Lançamentos'}); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../partials/header') ;%>

         <!--MAIN -->
         <main>
            <%- include('../partials/current-page', {
               page: '<a href="/lancamentos">Lançamentos</a>', 
            }); %>

            <h2 class="page-title general-margin-padding">LANÇAMENTOS</h2>

            <!-- PRODUCT LIST -->
            <section class="product-list grid grid-cols-2 gap-3 px-2 lg:grid-cols-4 lg:mx-20 lg:px-0">               
               <%- include('../partials/products/005');%>               
               <%- include('../partials/products/004');%>               
               <%- include('../partials/products/006');%>               
               <%- include('../partials/products/001');%>                            
            </section>


            <!-- MODAL EJS -->
            <%- include('../partials/modal'); %>
         </main>

         <!-- FOOTER EJS-->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>