<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head', {title: 'Sale'}); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../partials/header') ;%>

         <!--MAIN -->
         <main>
            <%- include('../partials/current-page', {pagina: 'Sale'}); %>

            <!-- CATEGORIE BANNER -->
            <section class="categories-banner general-margin-padding">
               <img src="./images/banner-categorie-sale.jpg" alt="Banner Principal">
            </section>

            <!-- PRODUCT LIST -->
            <div class="product-list general-margin-padding">
               <%- include('../partials/product-line/products/004') ;%>
               <%- include('../partials/product-line/products/001') ;%>
               <%- include('../partials/product-line/products/003') ;%>
               <%- include('../partials/product-line/products/002') ;%>
            </div>

            <!-- PRODUCT LIST -->
            <div class="product-list general-margin-padding">
               <%- include('../partials/product-line/products/004') ;%>
               <%- include('../partials/product-line/products/001') ;%>
               <%- include('../partials/product-line/products/003') ;%>
               <%- include('../partials/product-line/products/002') ;%>
            </div>

            <!-- PRODUCT LIST -->
            <div class="product-list general-margin-padding">
               <%- include('../partials/product-line/products/004') ;%>
               <%- include('../partials/product-line/products/001') ;%>
               <%- include('../partials/product-line/products/003') ;%>
               <%- include('../partials/product-line/products/002') ;%>
            </div>

            <!-- MODAL EJS -->
            <%- include('../partials/modal'); %>
         </main>

         <!-- FOOTER EJS-->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>