<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../partials/head', {title: 'Sale'}); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../partials/header') ;%>

         <!--MAIN -->
         <main class="mb-20">
            <%- include('../partials/current-page', {pagina: 'Sobre', paginaLink: 'sobre'}); %>
            
            <h2 class="page-title general-margin-padding">SOBRE</h2>
            
            <section class="mx-20">   
               <p class="pb-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae iusto omnis sapiente maiores dicta quod perspiciatis cumque, culpa maxime in suscipit, alias provident ad nisi eum expedita dolores dolor exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsam veritatis ducimus laudantium quaerat ab iusto perspiciatis maxime, at ipsa eum corporis nemo, odit ex, quos cumque itaque fugiat autem?</p>
            </section>

         </main>

         <!-- FOOTER EJS-->
         <%- include('../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../partials/scripts'); %>
   </body>

</html>