<h2 class="page-title"><%- titleCarousel -%></h2>
<section class="carousel w-full mx-auto mt-10 relative">
   <button class="btn-left absolute top-1/2 left-0 lg:left-5 -translate-y-1/2 z-10">
      <img class="w-10" src="./images/carousel-prod-left.svg">
   </button>
   <button class="btn-right absolute top-1/2 right-0 lg:right-5 -translate-y-1/2 z-10">
      <img class="w-10" src="./images/carousel-prod-right.svg">
   </button>

   <section class="scroll w-10/12 lg:w-11/12 mx-auto overflow-x-hidden scrollbar-hide">
      <div class="max-products hidden">
         <div class="desktop" id="4"></div>
         <div class="mobile" id="2"></div>
      </div>
      <div class="productList w-full flex duration-700" id="0">
         <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/001');%>
          </div>
          <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/002');%>
          </div>          
          <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/003');%>           
          </div>
          <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/004');%>
          </div>
          <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/009');%>
          </div>
          <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/011');%>
          </div>          
          <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/015');%>
          </div>
          <div class="product w-prod-2-4 mx-[0.5%]">
            <%- include('../../partials/products/016');%>
          </div>
        </div>
    </section>
 </section>