<section class="product border cursor-pointer border-white hover:border-gray-200 duration-300">
    <section class="product-data hidden">

        <section class="product-data-main" data-prodCod="<%- product.code %>" data-prodRef="<%- product.reference %>" data-prodDesc="<%- product.description %>"></section>

        <section class="product-data-variations">
            <section class="product-data-variations-first">
                <!-- color 1 -->
                <div class="prod-variations-color border p-2 cursor-pointer" data-variation="<%- product.variations.firstVariation.colors[0].color %>">
                    <!-- images -->
                    <section class="product-data-source">
                        <% product.variations.firstVariation.colors[0].images.forEach(function(img){ %>
                            <div class="product-data-source-img" data-img="<%= img %>"></div>                        
                        <% }) %>
                    </section>
                    <!-- second variation -->
                    <section class="product-data-variations-second">
                        <% product.variations.firstVariation.colors[0].secondVariation.forEach(function(variation){ %>
                            <div class="prod-variations-size border p-2 cursor-pointer" data-variation="<%= variation %>"></div>                        
                        <% }) %>
                    </section>  
                </div>
                
                <!-- color 2 -->
                <div class="prod-variations-color border p-2 cursor-pointer" data-variation="<%- product.variations.firstVariation.colors[1].color %>">
                    <!-- images -->
                    <section class="product-data-source">
                        <% product.variations.firstVariation.colors[1].images.forEach(function(img){ %>
                            <div class="product-data-source-img" data-img="<%= img %>"></div>                        
                        <% }) %>
                    </section>
                    <!-- second variation -->
                    <section class="product-data-variations-second">
                        <% product.variations.firstVariation.colors[1].secondVariation.forEach(function(variation){ %>
                            <div class="prod-variations-size border p-2 cursor-pointer" data-variation="<%= variation %>"></div>                        
                        <% }) %>
                    </section>
                </div>
            </section>
        </section>
    </section>

    <section class="product-image overflow-hidden">
        <img src="<%- product.mainImage %>" class="w-full hover:scale-125 duration-700">
    </section>

    <section class="product-text text-center p-2">
        <h3 class="text-sm prod-name"><%- product.name %></h3>
        <p class="font-bold prod-price"><%- product.price %></p>
    </section>
</section>