<!DOCTYPE html>
<html lang="pt-br">

<!-- HEAD EJS -->
<%- include('../../partials/head', {title: 'Calçados Femininos'}); %>

   <body>
      <!-- HEADER EJS-->
      <%- include('../../partials/header') ;%>

         <!--MAIN -->
         <main>
            <%- include('../../partials/current-page', {
               page: '<a href="/calcados">Calçados</a> / <a href="/calcados/feminino">Feminino</a>', 
               prevPage: '/calcados',
            }); %>

            <h2 class="page-title general-margin-padding">CALÇADOS FEMININOS</h2>

            <!-- CATEGORIE BANNER -->
            <!-- <section class="categories-banner general-margin-padding">
               <img src="./images/banner-categorie-cart.jpg" alt="Banner Principal">
            </section> -->

            <!-- PRODUCT LIST -->
            <div class="product-list general-margin-padding">
               <%- include('../../partials/product-line/products/009') ;%>
               <%- include('../../partials/product-line/products/011') ;%>
               <%- include('../../partials/product-line/products/016') ;%>
               <%- include('../../partials/product-line/products/013') ;%>
            </div>

            <!-- MODAL EJS -->
            <%- include('../../partials/modal'); %>
         </main>

         <!-- FOOTER EJS-->
         <%- include('../../partials/footer'); %>

         <!-- SCRIPTS EJS -->
         <%- include('../../partials/scripts'); %>
   </body>

</html>